<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>com.rave.appmaven.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChargeCard</servlet-name>
        <servlet-class>com.rave.appmaven.ChargeCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateCard</servlet-name>
        <servlet-class>com.rave.appmaven.ValidateCard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChargeCompleted</servlet-name>
        <servlet-class>com.rave.appmaven.ChargeCompleted</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChargeAccount</servlet-name>
        <servlet-class>com.rave.appmaven.ChargeAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateAccount</servlet-name>
        <servlet-class>com.rave.appmaven.ValidateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>com.rave.appmaven.Error</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChargeCard</servlet-name>
        <url-pattern>/ChargeCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateCard</servlet-name>
        <url-pattern>/ValidateCard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChargeCompleted</servlet-name>
        <url-pattern>/ChargeCompleted</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChargeAccount</servlet-name>
        <url-pattern>/ChargeAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateAccount</servlet-name>
        <url-pattern>/ValidateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
